*{
  font-size: 1.20rem;
  color: #fffdfd;  
}

html{
  background-image: url(https://images2.alphacoders.com/805/805649.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed ; 
}

body{
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

h1, p{
text-align: center;
}

form{
  background-color: #d22d38;
  opacity: 70%;
  padding-top: 2%;
  padding-bottom: 2%;
}

fieldset{
  border: none
}

input{
        
  display: inline;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

label{
  display: block;       
}

input[type="submit"]{
  margin: 1em auto;
  display: block;
  width: 100px;
  height: 40px;
  background-color: white;
  opacity: 50%;
}
select{
  width: 100%;
}

input[type=submit], textarea::placeholder {
  color: black;
}

.txt{
  width: 100%;
  opacity: 50%;
}                                        